*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
	    background-image:linear-gradient(to top,rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url(pic1.jpg);
		background-repeat:no-repeat;
		height:auto;
		background-size:cover;
		width:100%;
		position:fixed;

}


.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: auto;
}
.menu {
    margin: 0 30px 0 0;
	font-family: "Roboto", sans-serif;
	display: inline-block;
		
}
.menu a {
    clear: right;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 0 10px;
    line-height: 65px;

}

span.active
{
	
}


a:hover
{
    border: 1px solid white;
}






span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
	color: white;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
}


.hero
{
    position: absolute;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    
}


.tagline
{
    color: white;
    text-transform: uppercase;
    font-size: 5.9vw;
    text-align: center;
    margin-top: 235px;
    
}
header
{
	width:100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button
{
    margin-top: 30px;
	text-align:center;
}

.btn
{   
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    background-color: darkorange;
    font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}


.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}

img
{
    width: 150px;
    height: auto;
}
